#space{
    padding-right: 175px;
}

#numBox{
    width: 45px;
}

#btn{
    padding-left: 275px;
}

span{
    padding-right: 100px;
}

#output{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

#receipt{

    grid-column: 1/3;
    border: 2px black solid;
    text-align: center;
}

#age{
    display: none;
}